[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
pillow = "*"
mysqlclient = "*"
psycopg2 = "*"
django-cors-headers = "*"
drf-spectacular = "*"
pyjwt = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "*"
